@if (token == undefined)
{
<div class="card m-5 mt-3">
    <div class="card-header bg-primary">Sign In to BackOffice</div>
    <div class="card-body p-5">
        <div>
            <div>Username</div>
            <input class="form-control" [(ngModel)]="username" />
        </div>
        <div class="mt-3">
            <div>Password</div>
            <input type="password" [(ngModel)]="password" class="form-control" />
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" (click)="signIn()">
                <i class="fa fa-check me-2"></i>
                Sign In Now
            </button>
        </div>
    </div>
</div>
} @else
{
<div class="text-center h2">Welcome to Back Office</div>
}