<div class="input-group mt-3">
    <span class="input-group-text bg-dark text-white">โต้ะ</span>
    <input class="form-control" style="width: 100px" [(ngModel)]="tableNo" />
</div>
<div class="card mt-3">
    <div class="card-header">ขายอาหาร/เครื่องดื่ม</div>
    <div class="card-body">
        <button class="btn btn-primary me-2" (click)="filter('food')">
            <i class="fa fa-home me-2"></i>อาหาร
        </button>
        <button class="btn btn-primary me-2" (click)="filter('drink')">
            <i class="fa fa-calendar me-2"></i>เครื่องดื่ม
        </button>
        <button class="btn btn-primary me-2" (click)="fetchData()">
            <i class="fa fa-check me-2"></i>ทั้งหมด
        </button>
        <button class="btn btn-danger me-2" (click)="clearAllRow()">
            <i class="fa fa-trash me-2"></i>ล้างรายการ
        </button>
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <div class="row mt-3">
                        @for (item of foods; track $index)
                        {
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="card">
                                <img (click)="saveToSaleTemp(item)" class="card-image"
                                    src="{{ apiPath }}/uploads/{{ item.img }}" height="100px" />
                                <div class="card-body">
                                    <div class="h5">{{ item.name }}</div>
                                    <div class="text-success h5 text-center">{{ item.price }} ฿</div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div class="col-3">
                    <div class="alert bg-dark text-yellow text-end h3">{{amount.toLocaleString('th-TH')}} ฿</div>
                    @for (item of saleTemps; track $index) {
                    <div class="card">
                        <div class="card-body">
                            <div>{{item.Food.name}}</div>
                            <div>{{item.price}} x {{item.qty}} = {{item.price * item.qty}} ฿</div>
                            <div class="mt-2">
                                <div class="input-group">
                                    <button class="btn btn-primary" (click)="changeQty(item.id, 'down')">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input class="form-control text-center disabled" disabled [value]="item.qty" />
                                    <button class="btn btn-primary"  (click)="changeQty(item.id, 'up')">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-center align-content-center">
                                <div class="col-4 text-center">
                                    <button class="btn btn-danger btn-block" (click)="removeItem(item)" >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div class="col-4 text-center">
                                    <button class="btn btn-success btn-block" (click)="chooseFoodSize(item.Food.foodTypeId)" data-bs-toggle="modal"
                                    data-bs-target="#modalFoodSize">
                                        <i class="fa fa-list"></i>
                                    </button>
                                </div>
                                <div class="col-4 text-center">
                                    <button class="btn btn-info btn-block">
                                        <i class="fa fa-file-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<app-my-modal modalId="modalFoodSize" title="เลือกขนาด">
    <div class="text-center">
        @for (item of foodSizes; track $index) {
        <button class="btn btn-primary btn-lg me-2">
            {{ item.name }}
            @if (item.moneyAdded > 0)
            {
            + {{ item.moneyAdded }} บาท
            }
        </button>
        }
    </div>
</app-my-modal>