<div class="card mt-3">
    <div class="card-header bg-secondary">รสชาติ</div>
    <div class="card-body">
        <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalTaste">
            <i class="fa fa-plus me-2"></i>เพิ่มรายการ
        </button>
        <table class="mt-3 table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ประเภทอาหาร</th>
                    <th>รสชาติ</th>
                    <th>หมายเหตุ</th>
                    <th width="110px"></th>
                </tr>
            </thead>

            <tbody>
                @for (item of tastes; track $index) {
                    <tr>
                        <td>{{ item.FoodType.name }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.remark }}</td>
                        <td class="text-center">
                            <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalTaste"
                                (click)="edit(item)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger" (click)="remove(item)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

<app-my-modal modalId="modalTaste" title="รสชาติ">

    <div>
        <div>ประเภทอาหาร</div>
        <select class="form-control" [(ngModel)]="foodTypeId">
            @for (item of foodTypes; track $index) {
            <option [value]="item.id">
                {{item.name}}
            </option>
            }
        </select>
    </div>
    <div class="mt-3">
        <div>ชื่อ</div>
        <input class="form-control" [(ngModel)]="name">
    </div>
    <div class="mt-3">
        <div>หมายเหตุ</div>
        <input class="form-control" [(ngModel)]="remark">
    </div>
    <button class="btn btn-primary mt-3" (click)="save()">
        <i class="fa fa-check me-2"></i> บันทึก
    </button>

</app-my-modal>